body{
    background-image:url("../img/fondo.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}

li{
    float: left;
}

li a{
    display: block;
    color:#74003f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ffa8d9;
    border-radius: 10px;
}

hr{
    border : 3px solid #ffa8d9 ;
    border-radius: 3px;
}
.divblanco{
    background-color: white;
    opacity: .8;
    width: 1000px;
    border:  2px solid #E44F9C;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;

    
    
}
.divblanco2{
    border-radius: 10px;
    padding: 5px;
    width: 300;
    margin: 10px;
    
}
.h1center{
    color: #74003f;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 10px;
    text-align:left;
    vertical-align: bottom;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h2center{
    color:#74003f;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 10px;
    text-align:left;
    vertical-align: bottom;
    display: inline-block;
    border-radius: 10px;
    background-color:#fdcae1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divcentrar{
    text-align: center;
}

.divpcolor{
    width: 128px;
    height: 128px;
    background-color: #ffa8d9;
    
}
.divpcolor2{
    width: 128px;
    height: 53px;
}
.divwrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}
.contendor{

    display: flex;
    justify-content:center;
    align-items: center;
}
p{
    text-align: center;
    color:#74003f;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divboton{
    text-align: center;
}

.boton{
    background-color: white;
    border: 2px solid #E44F9C;
    border-style:ridge;
    color:#74003f;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton:hover{
    opacity: 0.6;
}
